.about_main_wrapper {
    background-image: url(../../images/workspace.jpg);
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.aboutme-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    column-gap: 10px;
    max-width: 800px;
    background-color: whitesmoke;
    padding: 24px;
}

.profile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-links {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.intro-bio {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.profile-img {
    border-radius: 50%;
    width: 180px;
    height: 240px;
}

.name {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    display: inline-block;
}

.job-role {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}

.github_icon {
    font-size: 1.6em;
    color: black;
}

.linkedin_icon {
    font-size: 1.6em;
    color: blue;
}

.hello {
    font-weight: 900;
    font-size: 2.4em;
}

.hello_sentence {
    font-weight: 600;
    font-size: 1.2em;
}

.intro_one {
    line-height: 1.6;
    font-size: 1.3em;
    text-align: left;
    text-indent: 25px;
    font-family: 'Times New Roman', Times, serif;
}


@media screen and (max-width: 768px) {

    .about_main_wrapper {
        background-image: none;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutme-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
        background-color: white;
    }

    .profile {
        grid-column: 1;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-links {
        grid-column: 1;
        grid-row: 2 / 3;
    }

    .intro-bio {
        grid-column: 1;
        grid-row: 3 / 4;
    }

    .profile-img {
        border-radius: 50%;
        width: 120px;
        height: 180px;
    }

    .name {
        font-size: 1.5em;
    }

    .job-role {
        font-size: 1em;
    }

    .github_icon {
        font-size: 1.5em;
    }

    .linkedin_icon {
        font-size: 1.5em;
    }

    .hello {
        font-size: 2em;
    }

    .hello_sentence {
        font-size: 1em;
    }

    .intro_one {
        font-size: 1.2em;
    }
}
