.quote-body_content {
    width: 70%;
    height: 32em;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    padding: 20px 1px;
    border-radius: 6px;
    background-color: whitesmoke;
    border: 1px solid rgb(192, 191, 191);
    overflow:auto;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#afdd9e),
									   to(#78bf70),
									   color-stop(.6,#9ed491))
}

.quote-body_content-header {
    font-weight: 600;
    font-size: 1.7em;
    display: inline-block;
}

.quote-body_content-content {
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.quote-body_content-content:hover {
    box-shadow: 0px 0px 2pt 1pt black;
}

.quote-body_content-content:nth-child(odd) {
    background-color:rgb(221, 218, 218);
}

.quote-body_content-content_quote {
    margin-top: 8px;
    padding: 0px 0px 0px 10px;
    grid-column: 1 / 2;
    grid-row: 1/2;
    word-break: break-all;
}

.quote-body_content-content_option {
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/3;
}

.quote-body_content-content_author {
    font-weight: 600;
    margin: 8px 0px;
    padding: 0px 0px 0px 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    word-break: break-all;
}

.modal {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;

    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 30px 0px;
    width: 40%;
    height: 45%;
}


/* Create quote modal */
.post_quote_btn {
    background-color: #d8ebb5;
    border: 1px solid #b6c79a;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    float: left;
}

/* error message for all modals */
.errors {
    color: red;
    list-style: none;
}

.form {
    display: flex;
    flex-direction: column;
}

#author-input {
    margin-bottom: 30px;
}

.form > input, textarea{
    margin-bottom: 10px;
}

#quote-button {
    margin-bottom: 10px;
}


@media screen and (max-width: 425px) {
    .modal {
        width: 95%;
    }
}
