.quote-body_content {
    height: 90vh;
    margin: auto;
    text-align: center;
    padding: 20px 1px 2px;
    border-radius: 6px;
    background-color: whitesmoke;
    border: 1px solid rgb(192, 191, 191);
    overflow:auto;

    position: relative;
}

.create_btn {
    background-color: #d8ebb5;
    border: 1px solid #b6c79a;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    float: left;
}

#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#afdd9e),
									   to(#78bf70),
									   color-stop(.6,#9ed491))
}

.quote-body_content-header {
    font-weight: 600;
    font-size: 1.7em;
    display: inline-block;
}

.quote-body_content-content {
    padding: 15px 5px;
    text-align: left;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    width: 100%;
}

.quote-body_content-content:hover {
    box-shadow: 0px 0px 2pt 1pt black;
}

.quote-body_content-content:nth-child(odd) {
    background-color:rgb(221, 218, 218);
}

.quote-body_content-content:nth-child(even) {
    margin-bottom: 4px;
}

.quote-body_content-content_quote {
    padding: 0px 0px 0px 10px;
    grid-column: 1 / 2;
    grid-row: 1/2;
    word-break: break-word;
}

.quote-body_content-content_option {
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/3;
}

.quote-body_content-content_author {
    font-weight: 600;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    word-break: break-all;
}
