.login_main_container {
    display: flex;
    background-color: #88be68;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.content {
     background-color: white;
     width: 34%;
     padding: 30px 0px;
     border-radius: 2px;
 }

 .email,
 .password,
 .submit {
     margin: 8px 0px;
 }

 .email,
 .password {
     width: 70%;
     background-color: #e2e0e0;
     border: 1px solid #f1f1f1;
     font-size: 1em;
     padding: 10px;
 }

.submit {
    background-color: #61b15a;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(2, 128, 39);
    padding: 6px 12px;
    width: 70%;
    margin-bottom: 20px;
}

.submit:hover {
    background-color: #68b918;
}

.register_span {
    font-size: 0.9em;
    font-family:Arial, Helvetica, sans-serif;
}

.register_link {
    font-size: 0.9em;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #c84b31;
}

.logo {
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

@media  screen and (max-width: 425px) {

    .content {
        width: 86%;
    }

}

@media  screen and (min-width: 426px) and (max-width: 768px) {

    .content {
        width: 60%;
    }

}
