.login_main_container {
    display: flex;
    background-color: #88be68;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.content {
     background-color: white;
     padding: 40px;
     width: 30%;
 }

 .email,
 .password,
 .submit {
     margin: 6px 0px;
 }

 .email,
 .password {
     width: 80%;
     background-color: #e2e0e0;
     border: 1px solid #f1f1f1;
     font-size: 1em;
     padding: 10px;
 }

.submit {
    background-color: #61b15a;
    color: white;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(2, 128, 39);
    padding: 6px 12px;
    width: 80%;
    margin-bottom: 20px;
}

.submit:hover {
    background-color: #68b918;
}

.register_span {
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
}

.register_link {
    font-size: 0.8em;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #c84b31;
}

.logo {
    cursor: pointer;
}
