.auth-logout_btn {
    padding: 5px 1px 5px 6px;
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    border: none;
    background-color: transparent;
    text-align: left;
}

.auth-logout_btn:hover {
    background-color: rgb(218, 216, 216);
}
