.sign_up_container {
    display: flex;
    background-color: #61b15a;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.sign_up-content {
    background-color: white;
    width: 34%;
    padding: 30px 0px;
    border-radius: 2px;
}

.sign_up-username,
.sign_up-email,
.sign_up-password,
.sign_up-repeat_password,
.sign_up-submit {
     margin: 8px 0px;
}

.sign_up-username,
.sign_up-email,
.sign_up-password,
.sign_up-repeat_password {
    width: 70%;
    background-color: #e2e0e0;
    border: 1px solid #f1f1f1;
    font-size: 1em;
    padding: 10px;
}

.sign_up-submit {
    background-color: #61b15a;
    color: white;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(2, 128, 39);
    padding: 6px 12px;
    width: 70%;
    margin-bottom: 20px;
}

.sign_up-submit:hover {
    background-color: #68b918;
}

.sign_up-login_link {
    font-size: 0.9em;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #c84b31;
}

@media  screen and (max-width: 425px) {

    .sign_up-content {
        width: 86%;
    }

}

@media  screen and (min-width: 426px) and (max-width: 768px) {

    .sign_up-content {
        width: 60%;
    }

}
