.footer_container {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    background-color: whitesmoke;
    opacity: .85;

    justify-content: center;
    align-items: center;
}

.dev_name {
    font-weight: 500;
    font-size: 1.2em;
}

.github_icon {
    margin: 0px 10px;
    font-size: 1.2em;
    color: black;
}

.linkedin_icon {
    font-size: 1.2em;
    color: blue;
}
