.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navbar-wrapper_img_about{
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.navbar-wrapper_demo_login {
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.about_link {
    text-decoration: none;
    font-size: 24px;
    color: rgb(122, 117, 117);
}

.about_link:hover {
    color: green;
    text-decoration: underline;
}

.navbar-img {
    margin-right: 20px;
}

.navbar-login_btn {
    margin-left: 20px;
    margin-right: 10px;
}

.login_btn {
    text-decoration: none;
    background-color: #61b15a;
    color: white;
    border-radius: 5px;
    font-size: 21px;
    cursor: pointer;
    border: 1px solid rgb(2, 128, 39);
    padding: 6px 12px;
}

.login_btn:hover {
    background-color: #68b918;
}

.demo_user {
    background-color: #61b15a;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(2, 128, 39);
    padding: 6px 12px;
}

.demo_user:hover {
    background-color: #68b918;
}
