.user_main_container {
    /* background-color: white; */
    background-image: url(../../images/footpath.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote_container {
    border: 1px solid black;
    background-color: transparent;
    margin: auto;
    width: 50%;
    height: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: scroll; */
}
