.user_main_container {
    background-image: url(../../images/footpath.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_container {
    background-color: transparent;
    margin: auto;
    margin-top: 4%;
    width: 30%;
    height: 24%;
    text-align: left;
    overflow: hidden;
    padding: 5px;
}

/* Bookmark icon */
.bookmark_container {
    position: relative;
    margin: 0px auto;
    margin-top: 5px;
    border: 1px solid rgb(70, 69, 69);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}


.bookmark_btn {
    display: block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
}

.fa-bookmark {
    font-size: 1.5em;
}


/* no cards container */
.no_cards_container {
    background-color: transparent;
    margin: auto;
    margin-top: 4%;
    width: 300px;
}

.no_cards_container span {
    font-size: 1.2em;
    display: inline-block;
}


/*------tinder card--------*/
.tinder_card {
    width: 100%;
    height: 100%;
    cursor:grab;
}

.tinder_card_quote,
.tinder_card_author {
    overflow: hidden;
}

.tinder_card_quote {
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.tinder_card_author {
    text-align: right;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 1.1em;
}

.heart {
    display: none;
    color: red;
    font-size: 5em;
    width: 50px;
    box-sizing: content-box;
    opacity: 0; /* makes heart look invisible */
    transition: opacity 200ms ease-in-out;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.swipe_text_container {
    color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 8px;
    font-size: 1.2em;
    width: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
