.UserNavBar-user_account {
    display: flex;
    align-items: center;
}

.UserNavBar-img {
    margin-right: 20px;
}

.UserNavBar-user_account {
    margin-right: 60px;
    position: relative;
}

.menu_btn {
    border: 1px solid blue;
    color: rgb(255, 255, 255);
    border: 1px solid #0095ff;
    background-color: #0095ff;
    border-radius: 4px;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    padding: .5em;
    box-sizing: border-box;
}

.menu_btn:hover {
    background-color: #4092cc;
}

.profile-dropdown {
    background-color: white;
    position: absolute;
    top: 46px;
    right: 0px;
    padding: 4px 10px;
    width: 8em;
    z-index: 1;
}


.profile-dropdown .links {
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    color:rgb(0, 0, 0);
    font-weight: 400;
    margin: 6px 0px;
}

.profile-dropdown .links:hover {
    background-color: rgb(218, 216, 216);
}

#my_profile_explore {
    color: #c84b31;
    font-size: 1.3em;
}

.fa-heart {
    color: red;
}

