.UserNavBar {
    display: flex;
    border-bottom: 1px solid #a0af87;
    background-color: #d8ebb5;
    justify-content: space-between;
}

.UserNavBar-wrapper_img_about {
    display: flex;
    align-items: center;
}
