.collection-body_content {
    width: 70%;
    height: 32em;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    padding: 20px 5px;
    border-radius: 6px;
    background-color: whitesmoke;
    border: 1px solid rgb(192, 191, 191);
    overflow:auto;
}

.collection-body_content-header {
    font-weight: 600;
    font-size: 1.7em;
    display: block;
}

.collection-body_content-content {
    padding: 5px;
    margin: 10px 0px;
    text-align: left;
    font-family: sans-serif;
    cursor: pointer;
    /* border: 1px solid black; */
}

.collection-body_content-content:nth-child(even) {
    background-color:rgb(221, 218, 218);
}

.collection-body_content-content_collection {
    display: inline-block;
    margin: 8px 0px;
    padding: 0px 0px 0px 10px;
}

.collection-body_content-content_option {
    cursor: pointer;
    float: right;
}
